@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    max-height: 100vh
}

.row {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.mainTitle {
    font-size: 3rem;
    align-content: center;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: -50px;
    margin-top: 10px;
}

.box {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    position: relative;
}

/* 
.heroBoard,
.enemyBoard {
    display: flex;
    gap: 1px;
} */

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;

}

.box:hover {
    background-color: grey;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: black;
    text-align: center;
    height: 30px;
    padding: 20px;
}



.githubIcon {
    height: 30px;
    width: 30px;
}

.row.row1 p {
    position: absolute;
    left: -30px;
}

.line10 #letterA {
    position: absolute;
    top: 40px;
    left: 13px;
}

.line10 p {
    position: absolute;
    top: 40px;
    left: 13px;

}

#num10 {
    position: absolute;
    top: 8px;
}



.inactive div {
    color: rgba(0, 0, 0, .2);
    border-color: rgba(0, 0, 0, .2);
}

.box.inside {
    position: absolute;
    background-color: grey;
    width: 40px;
    height: 40px;
    border: none;
}

.box.inside:hover {
    background-color: red;
}

.drag-over {
    border: dashed 3px red;
}

.heroBoard,
.enemyBoard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 3px;

}



.patrolShip {
    height: 40px;
    width: 160px;
    background-color: grey;
    border: 1px solid black;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    transform-origin: 20px 20px;
}

.newPatrolShip {
    height: 40px;
    width: 160px;
    background-color: grey;
    border: 1px solid black;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    transform-origin: 20px 20px;
}

.rotate {
    padding: 5px;
}

#patrolShip:hover {
    cursor: move;
}

.ships {
    display: flex;
    height: 200px;
    justify-content: center;
    position: relative;
    cursor: move;
    border: 2px solid black;
    padding: 10px;
    margin-top: -60px;
}

.hold {
    border: solid black 4px;
}

.hovered {
    background-color: red
}

.invisible {
    display: none;
}